@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes ldio-cyw5oa7niwb-1 {
  0% { top: 53.92399999999999px; height: 136.15200000000002px }
  50% { top: 84.17999999999999px; height: 75.64px }
  100% { top: 84.17999999999999px; height: 75.64px }
}
@keyframes ldio-cyw5oa7niwb-2 {
  0% { top: 61.488px; height: 121.024px }
  50% { top: 84.17999999999999px; height: 75.64px }
  100% { top: 84.17999999999999px; height: 75.64px }
}
@keyframes ldio-cyw5oa7niwb-3 {
  0% { top: 69.052px; height: 105.896px }
  50% { top: 84.17999999999999px; height: 75.64px }
  100% { top: 84.17999999999999px; height: 75.64px }
}
.ldio-cyw5oa7niwb div { position: absolute; width: 41.48px }.ldio-cyw5oa7niwb div:nth-child(1) {
  left: 40.26px;
  background: #5b9ee1;
  animation: ldio-cyw5oa7niwb-1 1.8518518518518516s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.37037037037037035s
}
.ldio-cyw5oa7niwb div:nth-child(2) {
  left: 101.25999999999999px;
  background: #dbe6e6;
  animation: ldio-cyw5oa7niwb-2 1.8518518518518516s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.18518518518518517s
}
.ldio-cyw5oa7niwb div:nth-child(3) {
  left: 162.26px;
  background: #819cbd;
  animation: ldio-cyw5oa7niwb-3 1.8518518518518516s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-qf8nweo5jxm {
  width: 244px;
  height: 244px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-cyw5oa7niwb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cyw5oa7niwb div { box-sizing: content-box; }
/* generated by https://loading.io/ */
